@import "../../_variables.less";

:host {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
#logosvg {
    height:50px;
    path,circle {
        fill: @logo-white;
        transition: all ease-in-out 0.3s;
    }
    &.green {
        path,circle {
            fill: @logo-green;
        }
    }
}


