<ul [class.green]="menuKind=='green'">
  <li [class.active]="activePage===2">
    <a (click)="fullPage.moveTo(2)" >NOSOTROS</a>
  </li>
  <li [class.active]="activePage===3">
    <a (click)="fullPage.moveTo(3)" >SERVICIOS</a>
  </li>
  <li [class.active]="activePage===4">
    <a (click)="fullPage.moveTo(4)" >CLIENTES</a>
  </li>
  <li [class.active]="activePage===5">
    <a (click)="fullPage.moveTo(5)">CONTACTO</a>
  </li>
</ul>
<div id="burger" (click)="toggle()" [class.open]="opened">
    <span></span>
    <span></span>
    <span></span>
  </div>