<div class="wrapper container">
    <h1>Contacto</h1>
    <div class="contenido">
      <div class="descripcion">
        <h2> <img src="/assets/img/icono-movil.svg" alt=""> Teléfono:</h2>
        <p><a href="tel:+52-55-6237-9523">+52 (55) 6237 9523</a></p>
        <h2><img src="/assets/img/icono-email.svg" alt=""> E-mail:</h2>
        <p> <a href="mailto:daledale@pinata-studio.com">daledale@pinata-studio.com</a></p>
        <h2><img src="/assets/img/icono-loc.svg" alt=""> Dirección:</h2>
        <p>Av. Monterrey No. 159 ,<br/>
            Col. Roma, Del. Cuauhtémoc<br/>
            C.P. 06700, CDMX, México</p>
            <ul>
              <li> <a href=""> <img src="/assets/img/icono-facebook.svg" alt=""> </a></li>
              <li> <a href=""> <img src="/assets/img/icono-instagram.svg" alt=""> </a></li>
              <li> <a href=""> <img src="/assets/img/icono-pinterest.svg" alt=""> </a></li>
              <li> <a href=""> <img src="/assets/img/icono-twitter.svg" alt=""> </a></li>
            </ul>
        <img src="/assets/img/pinata-phone.svg" alt="">
      </div>
      <div class="forma">
        <input type="text" placeholder="Nombre*" class="user">
        <input type="text" placeholder="E-mail*" class="email">
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
        <p>
          <button>Enviar</button>
          <button>Borrar</button>
        </p>
      </div>
    </div>
  </div>