<div class="gradientbg">
  <div class="wrapper container">
    <h1>Contacto</h1>
    <div class="contenido">
      <div class="descripcion">
        <h2>
          <img src="/assets/img/icono-movil.svg" alt=""> Teléfono:</h2>
        <p>
          <a href="tel:+52-55-6237-9523">+52 (55) 6237 9523</a>
        </p>
        <h2>
          <img src="/assets/img/icono-email.svg" alt=""> E-mail:</h2>
        <p>
          <a href="mailto:daledale@pinata-studio.com">daledale@pinata-studio.com</a>
        </p>
        <h2>
          <img src="/assets/img/icono-loc.svg" alt=""> Dirección:</h2>
        <p>Av. Monterrey No. 159 ,
          <br/> Col. Roma, Del. Cuauhtémoc
          <br/> C.P. 06700, CDMX, México</p>
        <ul>
          <li>
            <pi-facebook [size]="24" [color]="socialColor"></pi-facebook>
          </li>
          <li>
            <pi-instagram [size]="24" [color]="socialColor"></pi-instagram>
          </li>
          <li>
            <pi-pinterest [size]="24" [color]="socialColor"></pi-pinterest>
          </li>
          <li>
            <pi-twitter [size]="24" [color]="socialColor"></pi-twitter>
          </li>
        </ul>
        <img src="/assets/img/pinata-phone.svg" alt="">
      </div>
      <div class="forma">
        <input type="text" placeholder="Nombre*" class="user">
        <input type="text" placeholder="E-mail*" class="email">
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
        <p>
          <button>Enviar</button>
          <button>Borrar</button>
        </p>
      </div>
    </div>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" [scrollwheel]="false" [streetViewControl]="false"
  [gestureHandling]="'cooperative'">
  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl"></agm-marker>
</agm-map>


<footer class="footer">
  <div class="container">
    <pi-promos class="fchild"></pi-promos>  
    <pi-dirs class="fchild"></pi-dirs>
    <pi-recientes class="fchild"></pi-recientes>
    
  </div>
</footer>
<footer class="footer2">
  <div class="container">
    <div class="crnotice">© 2017 Piñata Studio. All Rights Reserved</div>
  </div>
</footer>