<h1>
  Contacto
</h1>
<div class="contacto2">
  <ul class="dir">
    <li>
      <img src="/assets/img/icono-loc.svg" alt="" />
      <p>Av. Monterrey No. 159 ,
        <br/> Col. Roma, Del. Cuauhtémoc
        <br/> C.P. 06700, CDMX, México</p>
    </li>
    <li>
      <img src="/assets/img/icono-movil.svg" alt="" />
      <p>
        <a href="tel:+52-55-6237-9523">+52 (55) 6237 9523</a>
      </p>
    </li>
    <li>
      <img src="/assets/img/icono-email.svg" alt="" />
      <p>
        <a href="mailto:daledale@pinata-studio.com">daledale@pinata-studio.com</a>
      </p>
    </li>
  </ul>
  <ul class="social">
    <li>
      <pi-facebook [size]="24" [color]="socialColor"></pi-facebook>
    </li>
    <li>
      <pi-instagram [size]="24" [color]="socialColor"></pi-instagram>
    </li>
    <li>
      <pi-pinterest [size]="24" [color]="socialColor"></pi-pinterest>
    </li>
    <li>
      <pi-twitter [size]="24" [color]="socialColor"></pi-twitter>
    </li>
  </ul>
</div>