

@gradient-green : #a5cd14;
@gradient-blue : #00b496;

/*
  LOGO
*/
@logo-green: #95d600;
@logo-white: #FFFFFF;

/* MENU */
@menu-gray : #969696;
@menu-bg-gradiente1: #95d600;
@menu-bg-gradiente2: #00c4b3;
@burger-white:#acff6f;



/* NOSOTROS */
@nosotros-bg-color: #f5f7f8;


/* IMPRESION */
@gradient-impresion0 : #e40061;
@gradient-impresion100 : #ff399f;


@texto-verde : #95d600;
@texto-blanco : #ffffff;
@texto-gris96: #969696;
@texto-verde-contacto: #acff6f;


/* CONTAINER */
.container {

    @media (max-width: 767px) {  
        
        padding: 0 20px;    
    }
    @media (min-width: 768px) and (max-width: 991px){ 
        width: 750px;
        margin: auto;
     }
    @media (min-width: 992px) and (max-width: 1199px){  
        width: 970px;
        margin: auto;
    }
    // @media (min-width: 900px) and (max-width: 1199px){  }
    @media (min-width: 1200px){  
        width: 1160px;
        margin: auto;
    }
}


@font-face {
    font-family: SansationLight;
    src: url('~/assets/Sansation_Light_0.ttf');
}

@font-face {
    font-family: MargotBold;
    src: url('~/assets/Margot-Bold.ttf');
}

@font-face {
    font-family: SansationRegular;
    src: url('~/assets/Sansation_Regular.ttf');
}

@font-face {
    font-family: SansationBold;
    src: url('~/assets/Sansation_Bold_0.ttf');
}


