<pi-topnav>
</pi-topnav>
<div [mnFullpage]="options">
  <div class="section home">
    <pi-home class="fp-tableCell"></pi-home>
  </div>
  <div class="section  nosotros">
    <pi-nosotros></pi-nosotros>
  </div>
  <div class="section ">
    <div class="slide fp-tableCell diseno">
      <pi-servicio [title]="'Diseño'" [items]="itemsDiseno" 
      [imgSrc]="'/assets/pinata-paint.svg'" [titleImgSrc]="'/assets/diseno-lapiz.svg'"></pi-servicio>
    </div>
    <div class="slide  fp-tableCell  impresion">
      <pi-servicio [title]="'Impresión'" [items]="itemsImpresion" 
      [imgSrc]="'/assets/pinata-paper.svg'" [titleImgSrc]="'/assets/impresion-papel.svg'"></pi-servicio>
    </div>
    <div class="slide  fp-tableCell  web">
      WEB
    </div>
  </div>
  <div class="section">
    <pi-clientes></pi-clientes>
  </div>
  <div class="section">
    <div>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
      <p>este es el resto</p>
    </div>

  </div>
</div>