

<div [mnFullpage]="options"  >
  <div class="section " style="background-color:aquamarine">
      <div  class="fp-tableCell home">
          <div></div>
          <div>Uno</div>
          <div>DOC</div>
        </div>
  </div>
  <div class="section  " style="background-color:burlywood">
    <div  class="fp-tableCell ">
      <div>EMTY</div>
      <div>Uno</div>
      <div>DOC</div>
    </div>
  </div>
  <div class="section " style="background-color:blueviolet">
    <div class="fp-tableCell">
      TERCERO
    </div>
  </div>
</div>