<div class="wrapper container">
  <h1>Nuestros Clientes</h1>
  <ul class="logo-container">
    <li>
      <img src="/assets/img/clientes-sedesol-01.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-apple-02.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-biorad-03.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-lawbiz-04.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-affaris-05.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-explora-06.svg" alt="">
    </li>
    <li>
      <img src="/assets/img/clientes-vela-07.svg" alt="">
    </li>

  </ul>
</div>