@import "../_variables.less";

.wrapper  {
    height: 100%;
    padding-top: 120px;
}
h1 {
    font-family: MargotBold;
    font-size: 45px;
    color: @texto-verde;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
    }
}