<div class="wrapper container">
  <h1>Nuestros Clientes</h1>
  <h2>Brindamos a nuestros clientes soluciones basadas en estrategia, estética y creatividad </h2>
  <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-sedesol-01.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-apple-02.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-biorad-03.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-lawbiz-04.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-affaris-05.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-explora-06.svg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <img src="/assets/img/clientes-vela-07.svg" alt="">
    </ngx-item>
    <button NgxCarouselPrev class='leftRs' style="opacity:0">&lt;</button>
    <button NgxCarouselNext class='rightRs' style="opacity:0">&gt;</button>
  </ngx-carousel>
</div>
<div class="tests">
  <div class="container">
    <ngx-carousel [inputs]="carouselTile">
      <ngx-item NgxCarouselItem>
        <div class="testimonio rolando">
          <h3>Rolando Rios - Affaris</h3>
          <p>Piñata Studio está integrada por un grupo de especialistas con más de diez años de experiencia en publicidad. Somos
            un equipo joven, tenaz, y creemos que la creatividad es producto de un proceso basado en un método efectivo y
            no solamente en buenas ideas.
          </p>
        </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
        <div class="testimonio julio">
          <h3>Julio Aragón - Lawbiz</h3>
          <p>Piñata Studio está integrada por un grupo de especialistas con más de diez años de experiencia en publicidad. Somos
            un equipo joven, tenaz, y creemos que la creatividad es producto de un proceso basado en un método efectivo y
            no solamente en buenas ideas.
          </p>
        </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
        <div class="testimonio rolando">
          <h3>Rolando Rios - Affaris</h3>
          <p>Piñata Studio está integrada por un grupo de especialistas con más de diez años de experiencia en publicidad. Somos
            un equipo joven, tenaz, y creemos que la creatividad es producto de un proceso basado en un método efectivo y
            no solamente en buenas ideas.
          </p>
        </div>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'></button>
      <button NgxCarouselNext class='rightRs'></button>
    </ngx-carousel>
  </div>
</div>