@import "../_variables.less";

.wrapper  {
    height: 100%;
    padding-top: 120px;
}
h1 {
    font-family: MargotBold;
    font-size: 45px;
    color: @texto-verde;
    text-align: center;
    margin-bottom: 0;
}
h2 {
    font-family: SansationLight;
    font-size: 14px;
    color: @texto-gris96;
    text-align: center;
    margin-bottom: 100px;
}

.item {
    text-align: center;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}